.programmes-tabs {
  .ant-tabs-nav {
    padding: 0 12px;
  }
}

.programms_content .ant-tabs > .ant-tabs-nav .ant-tabs-nav-wrap,
.ant-tabs > div > .ant-tabs-nav .ant-tabs-nav-wrap {
  position: absolute;
  margin-left: 50px;
  margin-top: 5px;
}
